 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 body {
  font-family: Arial, sans-serif;
  background: #e2fae2;
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.todo-container {
  background: white;
  padding: 20px;
  width: 450px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  font-size: 45px;
}

.input-section {
  display: flex;
  gap: 10px;
    margin-top: 40px;
}

input {
  flex: 1;
  padding: 8px;

}

button {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  background: #27b448;
  color: white;
  border-radius: 5px;
}

button:hover {
  background: #27b448;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #f8f9fa;
  padding: 8px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

li button {
  background: #dc3545;
  margin-left: 5px;
}

li button.edit {
  background: #fcbe03;
}

.stats {
  text-align: center;
  margin-top: 10px;
}

@media (max-width:480px){
  .input-section, li {
  flex-direction:column; 
  align-items:stretch;}
  button, input, li button {
  width:100%; 
  margin:5px 0 0;}
}

