*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #f4f4f4;
    font-family: Arial, sans-serif;
    display: flex;

    justify-content: center;
    margin-top: 50%;
}
.container{
   
     padding: 20px;
     margin: 30px;
     background: #ccc;
}

h1{
    text-align: center;
}

.input-section{
    display: flex;
    gap: 10px;


}
input{
    flex: 1;
    padding: 8px;
}